header{
  background-coler:green;
  height:200px;
}
header-list li {
  list-style:none;
}

main {
  height:600px;
  paddng: 100px 80px;
}
.copy-container h1{
  font-size:140px;
}
.copy-container h2{
  font-size:60px;
  border-bottom:15px;
}
.copy-container span{
  color:#ff4a4a;
}

footer {
  background-color:#ceccf3;
  height:270px;}
  footer-logo {
    color:#ff0000;
    font-size:32px;
    float:left;}
    footer-list {
    color:#ff0000;
    font-size:24px;
    float:right;}
    footer-inner{
      test-align:center;
    }
.contents{
  height:500px;
  margin: top 100px;
}

.contents-item {
  float:left;
  margin-right:40px;
}

.contents -item p {
  font-size: 24px;
  margin-top:30px;
}